img[alt="Music"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/music.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
}


img[alt="Applications"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/windows.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
    border-right: 3px solid #4CAF50;
}

img[alt="Audiobooks"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/audiobooks.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
}

img[alt="Comedy"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/comedy.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
}

img[alt="Comics"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/comic.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
}

img[alt="E-Books"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/books.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
}

img[alt="E-Learning Videos"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/elearning.svg') no-repeat;
    width: 200px !important;
    height: 200px !important;
    padding-left: 200px;
}
